body {
    background: #333;
    color: ;
}

.fail {
    padding: 0px;
}

.hola {}

.baz.qux {
    fill: none !important;
}

.desconocido {
    desconocido: hola;
}

.estonoesSASS {
    .puesno {
        padding: 20px;
    }
}